<div class="home">
    <div class="info">
        <div class="intro">
            <h1>{{ site.Params.author.name }}</h1>
            <small>{{ site.Params.authorDescription | markdownify }}</small>
            <p>{{ site.Params.info | markdownify }}</p>
        </div>

        {{ if site.Params.avatarURL }}
        {{ with site.Params.avatarURL }}
        <div class="avatar"><img src="{{ . | relURL }}" alt="avatar"></div>
        {{ end }}
        {{ end }}
    </div>

    <div class="featured">
        {{ partial "home/featured.html" . }}
    </div>

</div>

