{{ if site.Params.comments.giscus.enable }}
<div class="comments">
  <script>
      const getTheme = window.localStorage && window.localStorage.getItem("theme");
      let theme = getTheme === 'dark' ? 'dark' : 'light';
      let s = document.createElement('script');
      s.src = 'https://giscus.app/client.js';
      s.setAttribute('data-repo', '{{ site.Params.comments.giscus.repo }}');
      s.setAttribute('data-repo-id', '{{ site.Params.comments.giscus.repo_id }}');
      s.setAttribute('data-category', '{{ site.Params.comments.giscus.category }}');
      s.setAttribute('data-category-id', '{{ site.Params.comments.giscus.category_id }}');
      s.setAttribute('data-mapping', '{{ site.Params.comments.giscus.mapping }}');
      s.setAttribute('data-strict', '0');
      s.setAttribute('data-reactions-enabled', '1');
      s.setAttribute('data-emit-metadata', '0');
      s.setAttribute('data-input-position', '{{ site.Params.comments.giscus.position }}');
      s.setAttribute('data-theme', theme);
      s.setAttribute('data-lang', '{{ site.Params.comments.giscus.lang }}');
      s.setAttribute('data-loading', 'lazy');
      s.setAttribute('crossorigin', 'anonymous');
      s.setAttribute('async', '');
      document.querySelector('div.comments').innerHTML = '';
      document.querySelector('div.comments').appendChild(s);
  </script>
</div>
{{ end }}